In [1]:
#Install required packages

!pip install pyspark

Requirement already satisfied: pyspark in c:\users\admin\anaconda3\lib\site-packages (3.5.0)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\admin\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)

In [4]:
#import libraries

import pandas as pd

from pyspark.sql import SparkSession

from pyspark.sql import *

In [5]:
#Start Spark Session

spark = SparkSession.builder.getOrCreate()

In [6]:
df=pd.read_csv("ipl_2022_dataset.csv")

In [8]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType

In [9]:
# Define the schema
schema = StructType() \
        .add(StructField("c0_", IntegerType(), True)) \
        .add(StructField("Player", StringType(), True)) \
        .add(StructField("Base Price", StringType(), True)) \
        .add(StructField("TYPE", StringType(), True)) \
        .add(StructField("COST IN ₹ (CR.)", FloatType(), True)) \
        .add(StructField("Cost IN $ (000)", FloatType(), True)) \
        .add(StructField("2021 Squad", StringType(), True)) \
        .add(StructField("Team", StringType(), True))

In [10]:
df = spark.read.option("header", True).option('inferSchema',True).csv("ipl_2022_dataset.csv")

In [11]:
df.show(5)

+---+---------------+----------+-----------+---------------+---------------+----------+--------------+
|_c0|         Player|Base Price|       TYPE|COST IN ₹ (CR.)|Cost IN $ (000)|2021 Squad|          Team|
+---+---------------+----------+-----------+---------------+---------------+----------+--------------+
|  0|    Rashid Khan|Draft Pick|     BOWLER|           15.0|         1950.0|       SRH|Gujarat Titans|
|  1|  Hardik Pandya|Draft Pick|ALL-ROUNDER|           15.0|         1950.0|        MI|Gujarat Titans|
|  2|Lockie Ferguson|      2 Cr|     BOWLER|           10.0|         1300.0|       KKR|Gujarat Titans|
|  3|  Rahul Tewatia|   40 Lakh|ALL-ROUNDER|            9.0|         1170.0|        RR|Gujarat Titans|
|  4|   Shubman Gill|Draft Pick|     BATTER|            8.0|         1040.0|       KKR|Gujarat Titans|
+---+---------------+----------+-----------+---------------+---------------+----------+--------------+
only showing top 5 rows

In [12]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Player: string (nullable = true)
 |-- Base Price: string (nullable = true)
 |-- TYPE: string (nullable = true)
 |-- COST IN ₹ (CR.): double (nullable = true)
 |-- Cost IN $ (000): double (nullable = true)
 |-- 2021 Squad: string (nullable = true)
 |-- Team: string (nullable = true)

In [13]:
#Total number of rows and columns
print('Rows: ', df.count())

print('Columns:', len(df.columns))

Rows:  633
Columns: 8

In [14]:
#Data Types

df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Player: string (nullable = true)
 |-- Base Price: string (nullable = true)
 |-- TYPE: string (nullable = true)
 |-- COST IN ₹ (CR.): double (nullable = true)
 |-- Cost IN $ (000): double (nullable = true)
 |-- 2021 Squad: string (nullable = true)
 |-- Team: string (nullable = true)

In [15]:
#Unique Values in 'Base Price' Column

df.select('Base Price').distinct().collect()

[Row(Base Price='20 Lakh'),
 Row(Base Price='2 Cr'),
 Row(Base Price='Draft Pick'),
 Row(Base Price='40 Lakh'),
 Row(Base Price='30 Lakh'),
 Row(Base Price='1 Cr'),
 Row(Base Price='50 Lakh'),
 Row(Base Price='1.5 Cr'),
 Row(Base Price='75 Lakh'),
 Row(Base Price='Retained')]

In [16]:
#Distribution of values inside column 'Base Price'

df.groupBy('Base Price').count().show()

+----------+-----+
|Base Price|count|
+----------+-----+
|   20 Lakh|  344|
|      2 Cr|   48|
|Draft Pick|    6|
|   40 Lakh|   16|
|   30 Lakh|    9|
|      1 Cr|   33|
|   50 Lakh|  104|
|    1.5 Cr|   20|
|   75 Lakh|   26|
|  Retained|   27|
+----------+-----+

In [17]:
df.show(5)

+---+---------------+----------+-----------+---------------+---------------+----------+--------------+
|_c0|         Player|Base Price|       TYPE|COST IN ₹ (CR.)|Cost IN $ (000)|2021 Squad|          Team|
+---+---------------+----------+-----------+---------------+---------------+----------+--------------+
|  0|    Rashid Khan|Draft Pick|     BOWLER|           15.0|         1950.0|       SRH|Gujarat Titans|
|  1|  Hardik Pandya|Draft Pick|ALL-ROUNDER|           15.0|         1950.0|        MI|Gujarat Titans|
|  2|Lockie Ferguson|      2 Cr|     BOWLER|           10.0|         1300.0|       KKR|Gujarat Titans|
|  3|  Rahul Tewatia|   40 Lakh|ALL-ROUNDER|            9.0|         1170.0|        RR|Gujarat Titans|
|  4|   Shubman Gill|Draft Pick|     BATTER|            8.0|         1040.0|       KKR|Gujarat Titans|
+---+---------------+----------+-----------+---------------+---------------+----------+--------------+
only showing top 5 rows

In [18]:
#Rename Column

df2 = df.withColumnRenamed("Player","player")\
      .withColumnRenamed("Base Price","base_price")\
      .withColumnRenamed("Type","type") \
      .withColumnRenamed("COST IN ₹ (CR.)","cost_inr") \
      .withColumnRenamed("Cost IN $ (000)","cost_usd") \
      .withColumnRenamed("2021 Squad","2021_team") \
      .withColumnRenamed("Team","2022_team")

In [19]:
df2.show(5)

+---+---------------+----------+-----------+--------+--------+---------+--------------+
|_c0|         player|base_price|       type|cost_inr|cost_usd|2021_team|     2022_team|
+---+---------------+----------+-----------+--------+--------+---------+--------------+
|  0|    Rashid Khan|Draft Pick|     BOWLER|    15.0|  1950.0|      SRH|Gujarat Titans|
|  1|  Hardik Pandya|Draft Pick|ALL-ROUNDER|    15.0|  1950.0|       MI|Gujarat Titans|
|  2|Lockie Ferguson|      2 Cr|     BOWLER|    10.0|  1300.0|      KKR|Gujarat Titans|
|  3|  Rahul Tewatia|   40 Lakh|ALL-ROUNDER|     9.0|  1170.0|       RR|Gujarat Titans|
|  4|   Shubman Gill|Draft Pick|     BATTER|     8.0|  1040.0|      KKR|Gujarat Titans|
+---+---------------+----------+-----------+--------+--------+---------+--------------+
only showing top 5 rows

In [20]:
#Dropping USD Column

df3 = df2.drop('cost_usd')

In [21]:
#Check updated Dataframe

df3.show()

+---+-------------------+----------+------------+--------+---------+--------------+
|_c0|             player|base_price|        type|cost_inr|2021_team|     2022_team|
+---+-------------------+----------+------------+--------+---------+--------------+
|  0|        Rashid Khan|Draft Pick|      BOWLER|    15.0|      SRH|Gujarat Titans|
|  1|      Hardik Pandya|Draft Pick| ALL-ROUNDER|    15.0|       MI|Gujarat Titans|
|  2|    Lockie Ferguson|      2 Cr|      BOWLER|    10.0|      KKR|Gujarat Titans|
|  3|      Rahul Tewatia|   40 Lakh| ALL-ROUNDER|     9.0|       RR|Gujarat Titans|
|  4|       Shubman Gill|Draft Pick|      BATTER|     8.0|      KKR|Gujarat Titans|
|  5|     Mohammad Shami|      2 Cr|      BOWLER|    6.25|     PBKS|Gujarat Titans|
|  6|         Yash Dayal|   20 Lakh|      BOWLER|     3.2|     NULL|Gujarat Titans|
|  7|       David Miller|      1 Cr|      BATTER|     3.0|       RR|Gujarat Titans|
|  8|     R. Sai Kishore|   20 Lakh|      BOWLER|     3.0|      CSK|Gujarat Titans|
|  9|Abhinav Sadarangani|   20 Lakh|      BATTER|     2.6|     NULL|Gujarat Titans|
| 10|       Matthew Wade|      2 Cr|WICKETKEEPER|     2.4|     NULL|Gujarat Titans|
| 11|     Alzarri Joseph|   75 Lakh|      BOWLER|     2.4|     NULL|Gujarat Titans|
| 12|          Jason Roy|      2 Cr|      BATTER|     2.0|      SRH|Gujarat Titans|
| 13|    Wriddhiman Saha|      1 Cr|WICKETKEEPER|     1.9|      SRH|Gujarat Titans|
| 14|       Jayant Yadav|      1 Cr| ALL-ROUNDER|     1.7|       MI|Gujarat Titans|
| 15|      Vijay Shankar|   50 Lakh| ALL-ROUNDER|     1.4|      SRH|Gujarat Titans|
| 16|     Dominic Drakes|   75 Lakh| ALL-ROUNDER|     1.1|      CSK|Gujarat Titans|
| 17|        Varun Aaron|   50 Lakh|      BOWLER|     0.5|     NULL|Gujarat Titans|
| 18|    Gurkeerat Singh|   50 Lakh| ALL-ROUNDER|     0.5|      KKR|Gujarat Titans|
| 19|         Noor Ahmad|   30 Lakh|      BOWLER|     0.3|     NULL|Gujarat Titans|
+---+-------------------+----------+------------+--------+---------+--------------+
only showing top 20 rows

In [22]:
df3.select('player','cost_inr').where(df3.type=='BATTER').orderBy('cost_inr', ascending=False).show(3)

+---------------+--------+
|         player|cost_inr|
+---------------+--------+
|   Rohit Sharma|    16.0|
|    Virat Kohli|    15.0|
|Kane Williamson|    14.0|
+---------------+--------+
only showing top 3 rows

In [23]:
df3.createOrReplaceTempView('ipl')

In [24]:
spark.sql("""SELECT player, cost_inr FROM ipl WHERE type = 'BATTER' ORDER BY 2 DESC LIMIT 3""").show()

+---------------+--------+
|         player|cost_inr|
+---------------+--------+
|   Rohit Sharma|    16.0|
|    Virat Kohli|    15.0|
|Kane Williamson|    14.0|
+---------------+--------+

In [25]:
df3.select('player','cost_inr').filter(df3.type=='BOWLER').orderBy('cost_inr',ascending=False).show(5)

+---------------+--------+
|         player|cost_inr|
+---------------+--------+
|    Rashid Khan|    15.0|
|  Deepak Chahar|    14.0|
| Jasprit Bumrah|    12.0|
| Shardul Thakur|   10.75|
|Lockie Ferguson|    10.0|
+---------------+--------+
only showing top 5 rows

In [26]:
spark.sql("""SELECT player, cost_inr FROM ipl WHERE type = 'BOWLER' ORDER By 2 DESC LIMIT 5 """).show()

+--------------+--------+
|        player|cost_inr|
+--------------+--------+
|   Rashid Khan|    15.0|
| Deepak Chahar|    14.0|
|Jasprit Bumrah|    12.0|
|Shardul Thakur|   10.75|
|    Avesh Khan|    10.0|
+--------------+--------+

In [30]:
df3.select('player', 'cost_inr').filter((df3.type=='WICKETKEEPER')&(df3.cost_inr.isNotNull())).orderBy('cost_inr',ascending=True).show

In [32]:
spark.sql(""" SELECT player, cost_inr FROM ipl WHERE type = 'WICKETKEEPER' AND cost_inr is not null ORDER BY 2 LIMIT 5 """).show()

+---------------+--------+
|         player|cost_inr|
+---------------+--------+
|    Dhruv Jurel|     0.2|
|  Jitesh Sharma|     0.2|
|  N. Jagadeesan|     0.2|
|    Aryan Juyal|     0.2|
|Luvnith Sisodia|     0.2|
+---------------+--------+